@font-face {
    font-family: 'Olde English';
    src: url('OldeEnglish-Regular.woff2') format('woff2'),
        url('OldeEnglish-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fc {
      @apply flex justify-center items-center;
  }
  .fbc {
      @apply flex justify-between items-center;
  }
  .fsc {
      @apply flex justify-start items-center;
  }
  .fec {
      @apply flex justify-end items-center;
  }
  .ff {
      @apply flex flex-col;
  }
  .ffbc {
      @apply flex flex-col justify-between items-center;
  }
  .ffc {
      @apply flex flex-col justify-center items-center;
  }
}

.logo {
  font-family: 'Olde English', sans-serif;
}

body {
  background-color: theme('colors.slate.100');
}
